@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-yellow: #E1AA00;
    --color-light: #E0E0E0;
    --color-gray: #4F4F4F;
    --color-dark-gray: #303135;
    --space: 100px;
    --oneside-space: 100px;
    --color-light-gren: #9BCE51;
    --color-light-purple: #D4A3EB;
    --color-light-orange: #F3A678;
    --color-light-blue: #B2DBE0;
    --color-light-pink: #FF667D;
}

@media only screen and (max-width: 992px) {
    :root {
        --space: 20px;
        --oneside-space: 0px;
    }
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: var(--font-primary);

}

p,
a,
select,
label,
input,
ul,
li {
    font-family: var(--font-secondary);
}

.font-inter {
    font-family: var(--font-primary);
}

.font-raleway {
    font-family: var(--font-secondary);
}

.font-space-g {
    font-family: 'Space Grotesk', sans-serif;
}



/* font sizes */
.font-72px {
    font-size: 72px;
}

.font-64px {
    font-size: 64px;
}

.font-48px {
    font-size: 48px;
}
.font-46px {
    font-size: 46px;
}
.font-42px {
    font-size: 42px;
}

.font-32px {
    font-size: 32px;
    line-height: 35px;
}

.font-28px {
    font-size: 28px;
    line-height: 31px;
}

.font-26px {
    font-size: 26px;
    line-height: 29px;
}

.font-24px {
    font-size: 24px;
    line-height: 27px;
}

.font-22px {
    font-size: 22px;
}

.font-21px {
    font-size: 21px;
}

.font-18px {
    font-size: 18px;
}

.font-16px {
    font-size: 16px;
}
.font-14px {
    font-size: 14px;
}
.font-12px {
    font-size: 12px;
}
.font-5px {
    font-size: 5px;
}

/* font-weight */
.font-100 {
    font-weight: 100
}

.font-200 {
    font-weight: 200
}

.font-300 {
    font-weight: 300
}

.font-400 {
    font-weight: 400
}

.font-500 {
    font-weight: 500
}

.font-600 {
    font-weight: 600
}

.font-700 {
    font-weight: 700
}

.font-800 {
    font-weight: 800
}

.font-900 {
    font-weight: 900
}



/* bg colors */
.bg-color-yellow {
    background-color: var(--color-yellow);
}

.bg-color-black {
    background-color: var(--color-black);
}

.bg-color-white {
    background-color: var(--color-white);
}

.bg-color-light {
    background-color: var(--color-light);
}

.bg-color-gray {
    background-color: var(--color-gray);
}

.bg-color-dark-gray {
    background-color: var(--color-dark-gray);
}
.bg-light-pink {
    background-color: var(--color-light-pink);
}
.bg-light-blue {
    background-color: var(--color-light-blue);
}
.bg-light-orange {
    background-color: var(--color-light-orange);
}
.bg-light-purple {
    background-color: var(--color-light-purple);
}
.bg-light-green {
    background-color: var(--color-light-gren);
}


/* text colors */
.txt-color-yellow {
    color: var(--color-yellow);
}

.txt-color-black {
    color: var(--color-black);
}

.txt-color-white {
    color: var(--color-white);
}

.txt-color-light {
    color: var(--color-light);
}

.txt-color-gray {
    color: var(--color-gray);
}
.txt-color-dark-gray {
    color: var(--color-dark-gray);
}



/* space */
.padding-left-100px {
    padding-left: var(--oneside-space);
}

.padding-right-100px {
    padding-right: var(--oneside-space);
}

.padding-x-100px {
    padding-left: var(--space) !important;
    padding-right: var(--space) !important;
}





/* height */
.height-80vh {
    min-height: 80vh;
    height: auto;
}






/* buttons */
.btn-hero-sec {
    width: 200px;
    height: 60px;
}

.get-in-touch-btn {
    width: 200px;
    height: 50px;
    background-color: var(--color-white);
    border: solid 2px var(--color-yellow);
    border-radius: 30px;
    z-index: 2;
    font-family: 'Space Grotesk', sans-serif;
}

.click-here-btn-img {
    width: 130px;
    height: auto;
    margin-left: -50px;
    z-index: 9;
    font-family: 'Space Grotesk', sans-serif;
}



/* imgs */
.hero-img-size {
    position: absolute;
    bottom: 0;
    right: 0;
}

.reason-icon {
    width: 80px !important;
    height: 60px !important;
}





/* nav bar */
.nav-link {
    font-family: var(--font-primary) !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    color: var(--color-black) !important;
}

.nav-link:hover {
    font-weight: 600 !important;
    transition: width 0.5s ease-out !important;
}

.active-nav {
    font-weight: 600 !important;
    text-decoration: underline !important;
    text-decoration-color: var(--color-black) !important;
    text-underline-offset: 7px !important;
    text-decoration-thickness: 3px !important;
}


.nav-header-img {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    /* width: 100vw !important;
    height: 250px !important; */
    z-index: 99 !important;
}


.z999 {
    z-index: 9999 !important;
}

.margin-minus {
    margin-top: -40px !important;
}

.position-style {
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
.footer-title{
    font-size: 68px;
    color: #47536D !important;
}
.link-footer{
    font-size: 22px;
    color: #64769B !important;
}
.verticle-line{
    border-left: solid 1px #000;
}
.links-title-footer{
    color: #47536D;
    font-weight: 700;
    font-size: 28px;
    font-family: var(--font-primary) !important;
}
.footer-links{
    text-decoration: none;
    color: #47536D;
    font-size: 16px;
    line-height: 16px;
    font-family: var(--font-secondary) !important;
}
.vr-line{
    width: 100%;
    height: 20px;
    background-color: var(--color-yellow);
}
.vr-line-dark{
    width: 100%;
    height: 50px;
    background: #303135;

}
.hr-decor{
 width: 150px;
 height: 5px;
 background-color: #E1AA00;
 float: right;
}
.btn-link-latest{
    background-color: transparent;
    border: none;
    color: #fff;
    width: max-content;
    font-family: var(--font-primary);
}
.space-1{
    margin-right: -25px;
}
.space-2{
    margin-right: -50px;
}
.space-3{
    margin-right: -75px;
}
.space-4{
    margin-right: -100px;
}
.rectangle-bg{
    background-image: url('/assests/images/Rectangle.png');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}
.hr-gray{
    width: 150px;
    height: 1px;
    background-color: #858585;
}
.watch-link{
    text-decoration: none !important;
}

/* column designs */
.col-laptop{
    width: 19vw;
    height: 220px;
    cursor: pointer;
}
.col-pink{
    background-color: var(--color-light-pink);
    z-index: 9;
}
.col-blue{
    background-color: var(--color-light-blue);
    margin-left: -80px;
    z-index: 8;
}
.col-orange{
    background-color: var(--color-light-orange);
    margin-left: -80px;
    z-index: 7;
}
.col-purple{
    background-color: var(--color-light-purple);
    margin-left: -80px;
    z-index: 5;
}
.col-green{
    background-color: var(--color-light-gren);
    margin-left: -80px;
    z-index: 4;
}
.hr-small{
    width: 50px;
    height: 1px;
    background-color: #4b4b4b;
}
.col-position{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* cols hover */
.col-pink,
.col-blue,
.col-orange,
.col-purple,
.col-green {
  transition: margin-top 0.5s ease;
}

.col-pink:hover,
.col-blue:hover,
.col-orange:hover,
.col-purple:hover,
.col-green:hover {
  margin-top: -20px;
}



.spacer{
    width: 100%;
    height: 180px;
}
/* =================== media quaires ===================== */
@media only screen and (max-width: 992px) {
    .hero-img-size {
        position: relative;
    }

    .margin-minus {
        margin-top: 0px !important;
    }
    .verticle-line{
        border: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .space-1, .space-2, .space-3{
        margin-right: 0px;
    }
    .hr-decor{
        float: none;
        margin-right: 0px;
    }
}